extends layout

block content
    h1 #{title}
    #introduction
        | When I was in high school my father said I have a talent.  He told me I should use my knowledge to
        | address people's tech needs.  Over the years I have done everything from solving virus problems to
        | designing complete systems for business customers.  What ever your IT needs are, I'll get 'em done!
