extends layout

block content
    .mainContent
        h1 #{title}
        .mainContentAfterHeader
            input(type='submit', value='answer question', onclick='window.location.href=\'/admin/questionAnswer\';')