extends layout

block content
    h1 #{title}
    #facts
        h2 Did you know that...
        ul
            li Most computer problems are caused by user error?
            li The most cited reason for not buying a new computer is difficulty in carrying over settings?
            li Having a dedicated 'computer guy' is just as important as having a mechanic you can trust?
            li Your friend who fixes your computer for free resents doing it and wants you to hire a professional?