doctype
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        .globalnavContainer
            #globalnav-links
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/services') Services
                    li
                        a(href='/about') About
                    li
                        a(href='/facts') Did You Know?
                    li
                        a(href='/signup') Join Mailing List
                    li
                        a(href='/questions') Ask a question
                    li Updates Page (future)
    block content
    footer
        .globalfooterContainer