extends layout

block content
    .mainContent
        h1 #{title}
        br
        p Ask a question here!  This form adds your question in to the database collection for Questions.
        form(name='questionForm', method='post' action='/questions/createQuestion')
            .formTitle Submit a question
            table
                tr
                    td First name
                    td
                        input(type='text' name='firstName')
                tr
                    td Last name (optional)
                    td
                        input(type='text' name='lastName')
                tr
                    td Email address
                    td
                        input(type='text' name='email')
                tr
                    td Question
                    td
                        textarea(type='text' name='question')
                tr
                    td
                        input(type='submit', value='Submit')
                tr
                    td
                        #status