extends layout

block content
    .mainContent
        h1 #{title}
        .mainContentAfterHeader
            br
            p Ask a question here!  This form adds your question in to the database collection for Questions.
            #questionSubmitStatus
            form(name='questionForm')
                .formTitle Submit a question
                table
                    tr
                        td First name
                        td
                            input(type='text' name='firstName')
                    tr
                        td Last name (optional)
                        td
                            input(type='text' name='lastName')
                    tr
                        td Email address
                        td
                            input(type='text' name='email')
                    tr
                        td Question
                        td
                            textarea(name='question')
                    tr
                        td
                            input(type='button', value='Submit', onclick='questionSubmit(document.getElementsByName(\'questionForm\')[0])')