extends layout

block content
    .mainContent
        h1 #{title}
        .mainContentAfterHeader
            input(type='button', value='Retrieve Random Question', onclick='callAdmin(\'/admin/questionAnswer/retrieveRandomQuestion\')')