extends layout

block content
    .mainContent
        h1 #{title}
        .mainContentAfterHeader
            .servicesBlock
                p We offer a number of Services to meet your needs.  If you do not see your requirement listed below just ask.
                .servicesList
                    ul
                        li Malware/Virus Removal
                        li Installing Software
                        li Data Transfer, Data Backup
                        li Configuring settings
                        li Pre-purchase Requirements planning
                        li Mobile phone settings optimization
                        li Seamless Upgrade service for any platform